{% extends 'admin/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
{#    <!-- Button trigger modal -->#}
{#    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">#}
{#        Add Crop#}
{#    </button>#}
{##}
{#    <!-- Modal -->#}
{#    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Crop</h1>#}
{#                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <form id="contactForm" method="POST" action="">#}
{#                        {% csrf_token %}#}
{#                        {{ crispy }}#}
{#                        <div class="form-group">#}
{#                            <label for="name">Crop Name:</label>#}
{#                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name...">#}
{#                            {{ form.name }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="description">Description:</label>#}
{#                            <textarea class="form-control" id="description" name="description"#}
{#                                      placeholder="Crop description.."></textarea>#}
{#                            {{ form.description }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="duration">Duration:</label>#}
{#                            <input type="text" class="form-control" id="duration" name="duration"#}
{#                                   placeholder="Duration in months..">#}
{#                            {{ form.duration }} <span class="text-muted">(Duration in months)</span>#}
{#                        </div>#}
{#                        <div class="modal-footer">#}
{#                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>#}
{#                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{##}
{##}
{##}
{##}
{#    <!-- JavaScript code to handle form submission -->#}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            $('#contactForm').on('submit', function (event) {#}
{#                event.preventDefault(); // prevent default form submission#}
{#                $.ajax({#}
{#                    type: 'POST',#}
{#                    url: '/contact/', // URL to handle the form submission#}
{#                    data: $(this).serialize(),#}
{#                    success: function (response) {#}
{#                        // handle successful form submission#}
{#                        $('#myModal .modal-body').html(response);#}
{#                    },#}
{#                    error: function (response) {#}
{#                        // handle form submission errors#}
{#                        $('#myModal .modal-body').html(response);#}
{#                    }#}
{#                });#}
{#            });#}
{#        });#}
{#    </script>#}

<!-- category_list.html -->

<ul>
{% for category in parent_categories %}
    <li>
        {{ category.name }}:
        {% if category.total_expenses %}
            Expenses: ${{ category.total_expenses }}
        {% endif %}
        {% if category.total_earnings %}
            Earnings: ${{ category.total_earnings }}
        {% endif %}
    </li>
{% endfor %}
</ul>



{% endblock content %}