{% extends 'admin/base.html' %}

{% block content %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        <div>
{#            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>#}
            </div>
            <div>

                  <a href="{% url 'add-crop' %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                      <i class="fa-solid fa-plus"></i> Add Crop</a>

        </div>
          </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>S No.</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Duration</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for crop in crops %}
                    <tr>
                        <td>{{ crop.id }}</td>
                        <td>{{ crop.name }}</td>
                        <td>{{ crop.description }}</td>
                        <td>{{ crop.duration }}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}