{% extends 'admin/base.html' %}

{% block content %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        <div>
{#            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>#}
            </div>
            <div>

{#                  <a href="{% url 'add-farm-crop' %}"#}
{#                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">#}
{#                      <i class="fa-solid fa-plus"></i>Add Farm Crop</a>#}
                 <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <i class="fa-solid fa-plus"></i>Add Farm Crop
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create farm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="contactForm" method="POST" action="">
                        {% csrf_token %}
                        {{ crispy }}
                        <div class="form-group">
                            <label for="name">Farm Crop:</label>
{#                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name...">#}
                            {{ form.farm_id }}
                        </div>
                        <div class="form-group">
                            <label for="description">Crop:</label>
{#                            <textarea class="form-control" id="description" name="description"#}
{#                                      placeholder="Crop description.."></textarea>#}
                            {{ form.crop_id }}
                        </div>
                        <div class="form-group">
                            <label for="duration">Planted on:</label>
{#                            <input type="text" class="form-control" id="duration" name="duration"#}
{#                                   placeholder="Duration in months..">#}
                            {{ form.planted_on }}
                        </div>
                        <div class="form-group">
                            <label for="duration">Harvested By:</label>
{#                            <input type="text" class="form-control" id="duration" name="duration"#}
{#                                   placeholder="Duration in months..">#}
                            {{ form.harvested_by }}
                        </div>
                        <div class="form-group">
                            <label for="duration">Year:</label>
{#                            <input type="text" class="form-control" id="duration" name="duration"#}
{#                                   placeholder="Duration in months..">#}
                            {{ form.year_planted }}
                        </div>
                        <div class="form-group">
                            <label for="duration">Status:</label>
{#                            <input type="text" class="form-control" id="duration" name="duration"#}
{#                                   placeholder="Duration in months..">#}
                            {{ form.status }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
{#                            <a href="{% url 'b-crop' %}"  class="btn btn-primary">Submit</a>#}
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


        </div>
          </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>S No.</th>
                        <th>Farm name</th>
                        <th>Crop</th>
                        <th>Planted On</th>
                        <th>Harvested By</th>
                        <th>Year</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for farmcrop in farm_crops %}
                    <tr>
                        <td>{{ farmcrop.id }}</td>
                        <td>{{ farmcrop.farm_id }}</td>
                        <td>{{ farmcrop.crop_id }}</td>
                        <td>{{ farmcrop.planted_on }}</td>
                        <td>{{ farmcrop.harvested_by }}</td>
                        <td>{{ farmcrop.year_planted }}</td>
                        <td>{{ farmcrop.status }}</td>
                        <td><a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fa-sharp fa-solid fa-file-pen"></i>Edit</a>
                            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm">
                            <i class="fa-solid fa-trash"></i>Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}