{% extends 'admin/base.html' %}

{% block content %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        <div>
            </div>
            <div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
         <i class="fa-solid fa-plus"></i>Create Farm
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create farm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="contactForm" method="POST" action="">
                        {% csrf_token %}
                        {{ crispy }}
                        <div class="form-group">
                            <label for="name">Farm Name:</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            <label for="size">Size:</label>
                            {{ form.size }}
                        </div>
                        <div class="form-group">
                            <label for="location">Location:</label>
                            {{ form.location }}
                        </div>
                        <div class="form-group">
                            <label for="ownership">Ownership:</label>
                            {{ form.is_mine }}
                        </div>
                         <div class="form-group">
                            <label for="description">Farm Description:</label>
                            {{ form.description }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


        </div>
          </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>S No.</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Location</th>
                        <th>Ownership</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for farm in farms %}
                    <tr>
                        <td>{{ farm.id }}</td>
                        <td>{{ farm.name }}</td>
                        <td>{{ farm.size }}</td>
                        <td>{{ farm.location }}</td>
                        <td>{{ farm.is_mine }}</td>
                        <td>{{ farm.description }}</td>
                        <td><a href="{% url 'edit-farm' farm.id %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fa-sharp fa-solid fa-file-pen"></i>Edit</a>
                            <a href="{% url 'delete' farm.id %}" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm">
                            <i class="fa-solid fa-trash"></i>Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}