{% extends 'admin/base.html' %}

{% block content %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        <div>
{#            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>#}
            </div>
            <div>

                  <a href="{% url 'add-farm' %}"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                      <i class="fa-solid fa-plus"></i>Create Farm</a>

        </div>
          </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>S No.</th>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Location</th>
                        <th>Ownership</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for farm in farms %}
                    <tr>
                        <td>{{ farm.id }}</td>
                        <td>{{ farm.name }}</td>
                        <td>{{ farm.size }}</td>
                        <td>{{ farm.location }}</td>
                        <td>{{ farm.is_mine }}</td>
                        <td><a href="{% url 'edit-farm' farm.id %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fa-sharp fa-solid fa-file-pen"></i>Edit</a>
                            <a href="{% url 'delete-farm' farm.id %}" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm">
                            <i class="fa-sharp fa-solid fa-file-pen"></i>Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}