{% extends 'admin/base.html' %}

{% block content %}
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
        <div>
{#            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>#}
            </div>
            <div>
{##}
{#                  <a href="{% url 'add-farm-register' %}"#}
{#                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">#}
{#                      <i class="fa-solid fa-plus"></i>Register Farm</a>#}
                    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-solid fa-plus"></i>Register Farm
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Register farm</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="contactForm" method="post" action="">
                        {% csrf_token %}
                        {{ crispy }}
                        <div class="form-group">
                            <label for="">Farm Crop Name:</label>
                            {{ form.farm_crop_id }}
                        </div>
                        <div class="form-group">
                            <label for="description">Category:</label>
                            {{ form.category_id }}
                        </div>
                        <div class="form-group">
                            <label for="description">Unit Cost:</label>
                            {{ form.unit_cost }}
                        </div><div class="form-group">
                            <label for="description">Unit Acre:</label>
                            {{ form.unit_acre }}
                        </div>
                        <div class="form-group">
                            <label for="duration">Total cost:</label>
                            {{ form.total_cost }}
                        </div>
                        <div class="form-group">
                            <label for="duration">Quantity:</label>
                            {{ form.quantity }}
                        </div>
                        <div class="form-group">
                            <label for="duration">Description:</label>
                            {{ form.description }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


        </div>
          </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>S No.</th>
                        <th>Farm Crop ID</th>
                        <th>Category ID</th>
                        <th>Total Cost</th>
                        <th>Quantity</th>
                        <th>Description</th>
                        <th>Date Created</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for farmregister in farm_registers %}
                    <tr>
                        <td>{{ farmregister.id }}</td>
                        <td>{{ farmregister.farm_crop_id }}</td>
                        <td>{{ farmregister.category_id }}</td>
                        <td>{{ farmregister.total_cost }}</td>
                        <td>{{ farmregister.quantity }}</td>
                        <td>{{ farmregister.description }}</td>
                        <td>{{ farmregister.date_created }}</td>
                        <td><a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fa-sharp fa-solid fa-file-pen"></i>Edit</a>
                            <a href="{% url 'delete' farmregister.id %}" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm">
                            <i class="fa-solid fa-trash"></i>Delete</a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}