{% extends 'admin/base.html' %}

{% block content %}
   <canvas id="pie-chart"></canvas>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    var data = {
      labels: {{ labels|safe }},
      datasets: [{
        data: {{ values|safe }},
        backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#8B008B', '#00BFFF', '#2E8B57']
      }]
    };

    var options = {
      title: {
        display: true,
        text: 'Farm Expenses by Category'
      }
    };

    var chart = new Chart('pie-chart', {
      type: 'pie',
      data: data,
      options: options
    });
  </script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


{% endblock %}